[Unit]
Description=BB network service
Wants=tbs-dbus-session.service
After=tbs-dbus-session.service
Requires=tbs-dbus-session.service

[Service]
EnvironmentFile=/home/tbs/data/scripts/app.env
EnvironmentFile=/home/tbs/data/scripts/tbs_dbus_session.env
ExecStart=/home/tbs/bin/BB.Network
WorkingDirectory=/home/tbs/bin
Restart=on-failure
StandardOutput=null

[Install]
WantedBy=multi-user.target
