[Unit]
Description=BB history service
Wants=bb-mosquitto.service
After=bb-mosquitto.service
Requires=bb-mosquitto.service

[Service]
Type=notify
NotifyAccess=all
EnvironmentFile=/home/tbs/data/scripts/app.env
ExecStart=/home/tbs/bin/BB.History
WorkingDirectory=/home/tbs/bin
Restart=on-failure
StandardOutput=null

[Install]
WantedBy=multi-user.target