
.bg-dark {
 	background-color: #333333 !important;
}

.outline-dark {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 1px #FFFFCC;
    border-radius: 2px;
}

.outline-dark:hover {
    outline: #999999 solid 3px;
    outline-color: #373737 !important;
}
.border-dark {
	border-color: #888 !important;
}

.fg-red {
	color: #dd4b39;
}
.fg-white {
	color: white;
}
.fg-blue {
	color: #3c8dbc;
}
.fg-gray {
	color: #aaa;
}
.fg-lightBlue {
	color: #00c0ef ;
}
.fg-orange {
	color: #f39c12;
}
