[Unit]
Description=BB time service

[Service]
EnvironmentFile=/home/tbs/data/scripts/app.env
ExecStart=/home/tbs/bin/BB.Time
WorkingDirectory=/home/tbs/bin
Restart=on-failure
StandardOutput=null

[Install]
WantedBy=multi-user.target
