<script id="component-rule-action-template" type="text/template">
	<div class="box box-default box-solid">
            
            <div class="box-header with-border">
            	<i class="fa fa-bolt"></i>
                <h4 class="box-title"><%= attr.name %></h4>
            </div>
  
  			<div class="box-body">
  				<dl class='dl-horizontal dl-horizontal-left'>
              	<% $.each(attr, function( index, value ) { %>
              		<% if(index != "name" && index != "actions") { %>
			    
					      <dt><%= index %></dt>
					      <dd><%= value %></dd>
					    
			     	<% } %>
			  <% }); %>
			  </dl>
			  <div class="nested">
              
              </div>
            </div>
     </div>
</script>	    