<script id="component-node-template" type="text/template">
  
	<div class="block-box bg-dark outline-dark">
			<div class="icon">
            	<i class="fa <%= icon %>"></i>
            </div>
		    <div class="inner">
		      <button class='pull-right btn btn-info bg-dark border-dark edit'><i class="fa fa-cog"></i></button>
		      <h4>
		      		<%= name %>
		      </h4>
		      <p>
		      		<i class='fa fa-at'></i> <%= place %><br />
		      </p>
		      
		    </div>
		    
		    <div class="row data datafields">
	        </div>
		    
  </div>
  

  
</script>	    