<script id="connection-template" type="text/template">
      <div class="card">
        <h1>
          Settings
        </h1>

        <div class="subviews">
          <form>
            <div class="subview">
              <h2>
                Host
              </h2>
              <input type="text" value="<%= host %>" name="host"/>
            </div>
            <div class="subview">
              <h2>
                Port
              </h2>
              <input type="text" value="<%= port %>" name="port" />
            </div>
            <div class="subview">
              <div class="button save">Save</div>
            </div>
          </form>
        </div>
      </div>
    </script>
