
<script id="node-template" type="text/template">

<div class="box box-primary">

 
	 <div class="box-header">
	      <h3 class="box-title"><%= name || id %></h3>
	      <div class="box-tools pull-right">
	 	        <button class="btn btn-primary btn-sm" data-widget="graph"><i class="fa fa-line-chart"></i></button>
	    	    <button class="btn btn-primary btn-sm" data-widget="remove"><i class="fa fa-cog"></i></button>
	      </div>
	 </div>	
	 
	 <div class="box-body">
	 
      	 <div class="data"></div>
	 
          Box class: <code>.box.box-primary</code>
          <p>
            amber, microbrewery abbey hydrometer, brewpub ale lauter tun saccharification oxidized barrel.
            berliner weisse wort chiller adjunct hydrometer alcohol aau!
            sour/acidic sour/acidic chocolate malt ipa ipa hydrometer.
          </p>
	</div>
	
	
	<div class="box-footer settings">
	      
	</div>
 

</div>
</script>

<script id="node-settings-template" type="text/template">
	<% if (value){ %>
		<span class='label label-primary id-<%= id %>'><%= id %>: <%= value %></span> &nbsp;
	<% } else { %>
		<span class='label label-default id-<%= id %>'><%= id %>: <%= value %></span> &nbsp;
	<% } %>
</script>


<script id="node-data-template" type="text/template">
		<span class='label label-success id-<%= id %>'><%= id %>: <%= value %> <%= unit %></span> &nbsp;
</script>