    <script id="undefined-setting-template" type="text/template">
      <h2>
        <%= id %>
      <h2>
      <span "missing-type">Loading...</span>
    </script>
    <script id="range-control-template" type="text/template">
      <h2>
        <%= id %>
      </h2>
      <div class="rangeWrapper">
        <input type="range" value="<%= value %>"  min="0" max="255"/> <span class='value'><%= value %></span> <span class='unit'><%= unit %></span> 
      </div>
    </script>
    <script id="switch-setting-template" type="text/template">
      <h2>
        <%= id %>
      </h2>
      <input type="checkbox" <%= checkedAttribute %>/> 
    </script>
    <script id="text-setting-template" type="text/template">
      <h2>
        <%= id %>
      </h2>
      <span class='value'><%= value %></span>  
    </script>
    <script id="image-setting-template" type="text/template">
      <h2>
        <%= id %>
      </h2>
      <img src="<%= value %>" />
    </script>
