.metro .tile-group:first-child {
    margin-left: 20px;
}
.metro .tile-group {
  padding-top: 20px;
}
.metro .tile.half-vertical {
  height: 55px;
}
.metro .tile.half-horizontal {
  height: 120px;
  width: 55px;
}

#datetime {
  line-height: 110px;
  font-size: 90px;
  padding-left: 20px;
  margin: 0px;
}    
.dateadditional {
  position: absolute; 
  width: 100%;
  padding-right: 20px;
  padding-top: 25px;
}
p#dateday {
  font-size: 30px;
  padding-bottom: 15px;
} 
p#datedate {
  font-size: 30px;
} 
.temperature {
  float: left;
  margin: 5px;
  padding: 10px;
  text-align: left;
  width: 100px;
  outline: 1px solid #bbb;
  
}
.temperature p, .temperature h2{
  color: white;
} 
.temperature-big h2 {
  margin: 2px; 
  text-align: right;
  font-size: 29px;
  line-height: 29px; 
}
.temperature p {
  font-size: 13px;
  margin-bottom: -5px;
  margin-top: -5px;
}
.temperature-small {
  
}
.metro .window.flat {
  background-color: #647687;  
}
.metro .window.flat .content {
  padding-bottom: 10px;
}
div#detailTemperature {
  margin: 10px;
}
.temperature img {
  position: absolute; width: 24px; height: 24px; margin-left: 64px; margin-top: -8px; 
}
div.aditional {
  clear: left;
  width: 780px;
  /*border: 1px solid #999;*/
  margin: 10px 0px 10px 20px;
  font-size: 0.8em;
  text-align: right;
}
.places {
  position: absolute; 
  width: 130px; 
  right: 0px; 
  top: 0px;
  margin-right: 20px;
  margin-top: 20px;
  z-index: 30;
}

.places button {
  margin-bottom: 2px; width: 130px;
}
.temp-under {
  color: #00aff0;
}
#noTemperature, #noForecast {
   position: absolute;
   background-color: rgba(0,0,0,0.6);
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   z-index: 50;
   color: white;
   line-height: 5em;
   text-align: center;
}
.statusError {
  /*text-shadow: 2px 2px 10px #ff2d19;*/
  box-shadow: inset 0px 0px 15px #ff2d19 !important;
  border: 1px solid #ff2d19;
  
}
.statusOk {
  /*text-shadow: 2px 2px 10px #7ad61d;*/
  box-shadow: inset 0px 0px 15px #7ad61d !important;
  border: 1px solid #7ad61d;
}
div.tile .status {
  color: #ccc !important;
}

#all-sensors {
  background-color: white;
}

#all-sensors .likeform {
  padding:15px; 
}

/* overview */
table.sensor-overview {
  /*background-color: transparent;*/
  
}

table.sensor-overview th {
  text-align: left;
}
table.sensor-overview .cfg {
  width: 25%;
  text-align: center;
}

.fa {
  font-family: FontAwesome !important;
}

.metro .tile .tile-content.icon .fa {
  line-height: 37.33333333px;
  height: 37.33333333px;
  width: 37.33333333px;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -18.66666667px;
  margin-left: -18.66666667px;
  /*font-size: 2em;*/
}
