.metro .tile-group:first-child {
    margin-left: 20px;
}
.metro .tile-group {
  padding-top: 20px;
}
.metro .tile.half-vertical {
  height: 55px;
}
.metro .tile.half-horizontal {
  height: 120px;
  width: 55px;
}

#datetime {
  font-size: 6.8em;
}  
p#dateday {
  font-size: 1.9em;
  margin-bottom: 15px;
} 
p#datedate {
  font-size: 1.9em;
} 
.temperature {
  float: left;
  margin: 5px;
  padding: 10px;
  text-align: left;
  width: 100px;
  outline: 1px solid #bbb;
  
}
.temperature p, .temperature h2{
  color: white;
} 
.temperature-big h2 {
  margin: 2px; 
  text-align: right;
  font-size: 3.2rem;
  line-height: 3.2rem; 
}
.temperature p {
  font-size: 0.9em;
  margin-bottom: -5px;
  margin-top: -5px;
}
.temperature-small {
  
}
.metro .window.flat {
  background-color: #647687;  
}
.metro .window.flat .content {
  padding-bottom: 10px;
}
div#detailTemperature {
  margin: 10px;
}
.temperature img {
  position: absolute; width: 24px; height: 24px; margin-left: 64px; margin-top: -8px; 
}
